name: Update EPG India

on:
  schedule:
    # Runs at 2:00 AM UTC (7:30 AM Indian Standard Time) every day
    - cron: '0 2 * * *'
  workflow_dispatch: # Allows you to run it manually

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      # This is the command that filters for India (Tata Play)
      - name: Generate EPG (Tata Play)
        run: npm run grab -- --site=tataplay.com

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          git add guide.xml
          git commit -m "Update guide.xml" || exit 0
          git push
